<settings xmlns="http://maven.apache.org/settings/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
       <server>
          <id>nexus-snapshots</id>
          <username>deployment</username>
          <password>deployment123</password>
       </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <url>http://nexus:8081/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
</settings>
